/*label*/
#wrap>#bottom>.bottom-menu>#label_bg3-1{
    left: 60px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-2{
    left: 140px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-3{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-4{
    left: 300px;
  }

/*text*/
  #wrap>#bottom>.bottom-menu>#sub-txt3-1{
    left: 60px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-2{
    left: 140px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-3{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-4{
    left: 300px;
  }