header {
}

.top-nav {
  padding: 0.5rem;
  color: black;
  background: gainsboro;
  font-weight: bold;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.junior {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.junior > a {
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
  font-size: medium;
  padding: 0 1rem;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.search_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  /* border: 1px solid black; */
}

.searchBtn {
  margin-right: 5px;
  color: white;
  border-radius: 30px;
  display: inline-block;
}

.input_text {
  border: 2.5px solid gray;
  width: 240px;
  padding: 0 20px;
  height: 40px;
  border-radius: 30px;
  display: inline-block;
  font-size: medium;
}

.searchBtn {
  border: 0.2px solid gray;
  width: 50px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: medium;
  margin-right: 40px;
}

.extraBtn {
  margin: 0 5px;
  width: 70px;
  height: 70px;
  font-size: 12px;
}

/* 메뉴바 */
.menu-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

ul.myMenu > li {
  display: inline-block;
  width: 100px;
  padding: 20px 20px;
  background: white;
  text-align: center;
  position: relative;
  cursor: pointer;
}

ul.myMenu > li:hover {
  background: #fff;
  color: red;
}

ul.myMenu > li ul.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
}

ul.myMenu > li:hover ul.submenu {
  display: block;
  color: black;
  z-index: 1;
  border: 1px solid rgb(255, 235, 123);
}

ul.myMenu > li ul.submenu > li {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  background: #fff;
  /* border: 1px solid #eee; */
  text-align: center;
}

ul.myMenu > li ul.submenu > li:hover {
  background: #fff;
  color: red;
}
