* {
  margin: 0 auto;
  padding: 0;
  font-family: 'MaruBuri';
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format('embedded-opentype'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format('woff2'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format('woff'),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format('truetype');
}

@media screen and (max-width: 1024px) {
  .left-cards,
  .right-cards,
  .map {
    margin-top: 5%;
  }

  .comming-soon {
    width: 100vw;
  }

  .table {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

header {
  width: 100%;
  height: 3rem;
  background-color: #412109;
  /* text-align: center; */
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  display: flex;
  /* justify-content: flex-start; */
}

.watermark {
  width: 300px;
  max-width: 300px;
  height: 100px;
  max-height: 100px;
}

.logo-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: white;
}

body {
  /* background-image: url('../images/lof.jpg'); */
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid black; */
}

.left-cards,
.right-cards {
  min-width: 180px;
  width: 20%;
  height: 100vh;
  max-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.daegu {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.gyoungju {
  width: 75%;
}

.changwon {
  width: 75%;
}

.pohang {
  width: 75%;
}

.slide-card {
  width: 100%;
  min-width: 160px;
  height: 100%;
  max-height: 320px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff4e7;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}

.group-img {
  width: 80%;
  height: 160px;
  border: none;
  border-radius: 20px;
}

.group-info {
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
}

.card-hashtag {
  display: flex;
  font-size: 11px;
  margin-top: 1rem;
  align-items: center;
}

.card-hashtag > div {
  border: 0.5px solid #42210a;
  border-radius: 20px;
  width: 25%;
  padding: 0.25rem;
}

.slide-btn {
  font-size: 30px;
  background: none;
  border: none;
  margin: 0 0.5rem;
}

.comming-soon {
  width: 100%;
  background-image: url('./images/comming-soon.png');
  height: 100%;
  min-height: 240px;
  border-radius: 20px;
  background-color: lightgray;
}

.map {
  width: 30%;
  min-width: 320px;
  height: 15%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.map-img {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 480px;
}

.map-select {
  fill: #fff6e9;
  fill-opacity: 1;
  fill-rule: nonzero;
}

.map-unselect {
  fill: #fff6e9;
  fill-opacity: 1;
  fill-rule: nonzero;
  /* stroke: black; */
  z-index: 0;
}

.daeguMap {
  fill: #cccccc;
}

.daeguHover {
  display: none;
}
