* {
  margin: 0;
  padding: 0;
  font-family: 'JejuGothic';
  font-size: 12px;
}

a {
  text-decoration-line: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: 'JejuGothic';
  src: url('../font/JejuGothic.ttf');
}

/* @media screen and (max-width: 1024px) {
  .right-cards,
  .map {
    margin-top: 5%;
  } */

/* @media screen and (min-width: 1024px) {
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
} */

body {
  color: #222;
}

main {
  margin: 40px 0;
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #222; */
}

.explain-map {
  font-size: 18px;
  position: relative;
  right: 300px;
  color: rgb(127, 127, 127);
}

/* 상담하기 버튼 */
.consultBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 60%;
  left: 90%;
  background-color: #fff4e7;
  width: 75px;
  height: 100px;
  padding: 20px;
  border-radius: 80px;
  font-weight: bold;
  cursor: pointer;
}

/* 지도 크기 및 위치 정리 */
.map {
  width: 25%;
  min-width: 320px;
  height: 15%;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.map-img {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 480px;
}

/* 지도 색상 및 display */
.map-select {
  fill: #fff6e9;
  fill-opacity: 1;
  fill-rule: nonzero;
}

.map-unselect {
  fill: #fff6e9;
  fill-opacity: 1;
  fill-rule: nonzero;
  /* stroke: black; */
  z-index: 0;
}

.daeguHover {
  display: none;
}

/* 이전 버전에서 쓰던 css인데 보존할 필요가 있어 남겨둡니다. */
.right-cards {
  min-width: 180px;
  width: 17.5%;
  height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  /* border: 1px solid black; */
}

.daegu {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slide-card {
  width: 100%;
  min-width: 160px;
  height: 100%;
  max-height: 320px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff4e7;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}

.group-img {
  width: 85%;
  height: 120px;
  border: none;
  border-radius: 20px;
}

.group-info {
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
}

.card-hashtag {
  display: flex;
  font-size: 11px;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;
}

.card-hashtag > div {
  border: 0.5px solid #42210a;
  border-radius: 20px;
  width: 30%;
  /* padding: 0.25rem; */
}

.slide-btn {
  font-size: 30px;
  background: none;
  border: none;
  margin: 0 0.5rem;
}

#total-map {
  display: none;
}

#daegu-map {
  display: block;
}