li {
  list-style-type: none;
}

#label {
  display: flex;
  text-align: center;
  justify-content: center;
}

#label > #bottom {
  top: 570px;
  left: 120px;
  font-size: 14px;
  justify-content: center;
}

#label > #bottom > .bottom-menu {
  float: left;
  width: 402px;
  height: 120px;
  margin-right: 1px;
  position: relative;
}

#label > #bottom > .bottom-menu > .paper {
  width: 422px;
  height: 230px;
  margin-top: -60px;
}

#label > #bottom > .bottom-menu > .main-txt {
  position: absolute;
  top: 25px;
  left: 190px;
}

#label > #bottom > .bottom-menu > .label {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 35px;
}

#label > #bottom > .bottom-menu > .sub-txt {
  position: absolute;
  top: 54px;
  width: 90px;
  height: 50px;
  text-align: center;
}
