/*label*/
#wrap>#bottom>.bottom-menu>#label_bg1-1{
    left: 80px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg1-2{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg1-3{
    left: 355px;
  }

/*text*/

#wrap>#bottom>.bottom-menu>#sub-txt1-1{
    left: 80px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt1-2{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt1-3{
    left: 355px;
  }