/*label*/
#wrap>#bottom>.bottom-menu>#label_bg3-1{
    left: 70px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-2{
    left: 170px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-3{
    left: 270px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg3-4{
    left: 370px;
  }

/*text*/
  #wrap>#bottom>.bottom-menu>#sub-txt3-1{
    left: 70px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-2{
    left: 170px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-3{
    left: 270px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt3-4{
    left: 370px;
  }