@font-face {
    font-family: "LoveNovel";
    src: url("../font/a연애소설.ttf");
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: "LoveNovel";
}

li{
  list-style-type: none;
}

body{
  width: 100%;
  height: 100%;
  position: fixed;
}
  
#wrap {
  width: 100%;
  height: 100%;
  /* background-color: lightcyan; */
  position: absolute;
}

#wrap>#bottom{
  width: 1300px;
  height: 150px;
  position: absolute;
  top: 570px;
  left: 120px;
  /* background-color: yellow; */
  font-size: 18px;
}

 #wrap>#bottom>.bottom-menu{
  float: left;
  width: 432px;
  height: 150px;
  margin-right: 1px;
  /* background-color: aqua; */
  position: relative;
}

 #wrap>#bottom>.bottom-menu>.paper{
  width: 422px;
  height: 230px;
  margin-top: -30px;
  margin-left: 15px;
}

 #wrap>#bottom>.bottom-menu>.main-txt{
  position: absolute;
  top: 50px;
  left: 200px;
}

 #wrap>#bottom>.bottom-menu>.label{
  position: absolute;
  width: 90px;
  height: 50px;
  top: 70px;
}
  
#wrap>#bottom>.bottom-menu>.sub-txt{
  position: absolute;
  top: 86px;
  width: 90px;
  height: 50px;
  text-align: center;
}



