/*label*/
#wrap>#bottom>.bottom-menu>#label_bg2-1{
    left: 60px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg2-2{
    left: 140px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg2-3{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#label_bg2-4{
    left: 300px;
  }

/*text*/
#wrap>#bottom>.bottom-menu>#sub-txt2-1{
    left: 60px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt2-2{
    left: 140px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt2-3{
    left: 220px;
  }
  
  #wrap>#bottom>.bottom-menu>#sub-txt2-4{
    left: 300px;
  }