/*모임 상세 정보*/
#modal > #popup > #bottom > #category > li {
  display: block;
  width: 100px;
  height: 66px;
  margin-bottom: 0.8px;
  margin-right: 1px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  /* background-color: lightblue; */
}

#modal > #popup > #bottom > #contents,
#category {
  float: left;
}

#modal > #popup > #bottom > #contents > li {
  display: block;
  width: 430px;
  height: 66px;
  margin-bottom: 0.8px;
  margin-left: 1px;
  padding-top: 25px;
  padding-left: 50px;
  box-sizing: border-box;
  /* background-color: lightgreen; */
}

#modal > #popup > #bottom > #contents > #date-conts > #day {
  margin-top: -10px;
}

#modal > #popup > #bottom > #contents > #date-conts > .date {
  width: 320px;
  height: 21px;
  margin-bottom: 1px;
  /* background-color: lightsalmon; */
}
