.write-menu {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  font-size: 12px;
}

.write-menu > li {
  display: inline-block;
  width: 100px;
  padding: 20px 60px;
  background: white;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.collect-group {
  width: 95%;
  margin: 0 auto;
  border: 1px solid black;
}

.option-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5%;
  /* border: 1px solid black; */
}

.collect-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
}

.rank-option > button {
  margin: 0 5px;
  padding: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
}

.rank-option > button:focus {
  color: red;
  font-weight: bold;
}

.drop-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  padding: 5px;
  margin: 0 10px;
  background-color: #fff4e7;
  font-size: 12px;
}

.end-group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

/* s */

.card {
  width: 228px;
  height: 290px;
  background-color: #fff4e7;
  border-radius: 15px;
  margin: 0 40px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: all;
}

.card > #group-area {
  height: 45px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.card > #group-img {
  height: 165px;
  display: flex;
  justify-content: center;
}

.card > #group-img > img {
  width: 204px;
  height: 154px;
  margin-top: 5px;
  border-radius: 20px;
}

.card > #group-name {
  height: 40px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.card > #group-hashtag {
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.card > #group-hashtag > #hashtag > li {
  text-align: center;
  line-height: 1.5;
  float: left;
}

.card > #group-hashtag > #hashtag > li:first-child {
  width: auto;
  height: 30px;
  padding: 5px;
  margin-top: 3px;
  box-sizing: border-box;
  border: solid 0.5px #42210a;
  border-radius: 20px;
}

.card > #group-hashtag > #hashtag > li:nth-child(2) {
  width: auto;
  height: 30px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 3px;
  box-sizing: border-box;
  border: solid 0.5px #42210a;
  border-radius: 20px;
}

.card > #group-hashtag > #hashtag > li:last-child {
  width: auto;
  height: 30px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 3px;
  box-sizing: border-box;
  border: solid 0.6px #42210a;
  border-radius: 20px;
}
