/* detail.css/장지혜 */

/* 반응형 css */
@media (max-width: 880px) {
  body {
    margin: 0 20px;
  }
}

@media (min-width: 880px) {
  body {
    margin: 0 5%;
  }
}

@media (min-width: 1140px) {
  body {
    margin: 0 10%;
  }

  .header {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  body {
    margin: 0 10%;
  }
}

@media (max-width: 923px) {
  .day {
    display: none;
  }
  .host-sns {
    display: none;
  }
}

@font-face {
  font-family: 'JejuMyoungjo';
  src: url('../assets/fonts/JejuMyeongjo.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'JejuMyoungjo';
  list-style: none; 
  text-decoration: none;
}

/* 임시 */
body {
  height: auto;
  padding-bottom: 80px;
  box-sizing: border-box; 
  /*padding값이 존재해도 원래 크기 고정*/
}

/* 상세페이지 */
.detail-page {
  text-align: left;
  margin-left: 17%;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
}

.g-img {
  width: 80%;
  height: 350px;
  object-fit: cover;
  /* 이미지의 가로/세로 비 유지, 요소 콘텐츠 박스 가득 채움 */
}

.g-name {
  display: block;
  width: 80%;
  height: auto;

  padding-top: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;

  font-size: 1.6em; /* em: 해당 요소의 font-size에 대한 상대적 크기 */
  font-weight: 600;
}

.g-intro {
  display: block;
  width: 80%;
  height: auto;

  margin-bottom: 10px;
  font-size: 1.1em;/* em: 해당 요소의 font-size에 대한 상대적 크기 */
}

.g-address {
  display: block;
  width: 80%;
  height: 50px;

  padding-top: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  border-top: 0.5px solid gray;
}

.hashtag {
  width: 80%;
  height: 30px;
}

.hashtag > span {
  display: block;
  float: left;
  width: auto;
  height: 25px;

  color: orange;
  border-radius: 50px;
  box-shadow: 0 0 1.5px gray;

  padding: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
}

.host-page {
  width: 80%;
  height: 220px;
  background-color: rgb(243, 241, 241);
  margin-top: 40px;
  padding-top: 10px;
  box-sizing: border-box;
}

.host-left {
  width: 20%;
  height: 100%;
  float: left;
}

.host-left > a {
  display: block;
  width: 90%;
  height: 95%;
  margin-left: 10%;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
}

.host-img {
  width: 80%;
  border-radius: 100%;
  border: solid 2px ivory;
  box-shadow: 0 0 4px gray; /* 그림자 설정 */

  aspect-ratio: 1/1; /* 화면 작아져도 고정 비율 유지 (1:1)*/
}

.host-right {
  width: 80%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; 
 /*padding값이 존재해도 원래 크기 고정*/
  float: left;
}

.host-name {
  height: 30%;
}

.host-name > span:first-child {
  display: block;
  height: 50%;
  padding-top: 7px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  font-size: 0.8em; /* em: 해당 요소의 font-size에 대한 상대적 크기 */
  color: gray;
}

.host-name > span:last-child > a {
  display: block;
  height: 50%;
  font-size: 1em; /* em: 해당 요소의 font-size에 대한 상대적 크기 */
  font-weight: 600;
  color: black;
}

.host-intro {
  height: auto;
  font-size: 0.9rem; /* rem: html 전체에 지정한 font-size에 대한 상대적 크기 */
  color: gray;
  padding-bottom: 5px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  line-height: 150%;
}

.host-sns {
  height: auto;
  color: gray;
}

.rule::before { /* before: 요소 앞(전)에 가상요소 삽입 */
  color: gray;
}

.rule {
  width: 80%;
  height: auto;

  margin-top: 50px;
}

.rule > div:first-child {
  height: 50px;
  font-weight: bold;
  font-size: 1.5em; /* em: 해당 요소의 font-size에 대한 상대적 크기 */
  padding-top: 12px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
}

.rule > div:nth-child(2) {
  height: auto;
  line-height: 150%;
  font-size: 0.9em; /* em: 해당 요소의 font-size에 대한 상대적 크기 */

  padding: 15px 7px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  background-color: rgb(243, 241, 241);
}

.reservation_btn {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  border: none;
}

.reservation_btn:hover {
  background-color: gray;
  color: ivory;
}

.group-contents {
  width: 80%;
  height: auto;

  margin-top: 50px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
}

.res-table {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  line-height: 200%; /* 줄 높이 */
}

.res-table > h2 {
  padding: 5px;
  padding-left: 0px;
  padding-bottom: 15px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  color: orange;
}

.res-table h3 {
  color: #000000;
  padding-bottom: 10px;
}

.res-day {
  width: 48%;
  height: 100px;
}

.day,
.r-day {
  width: 35px;
  height: 35px;
  background-color: rgb(243, 241, 241);
  float: left;

  padding-top: 2px;
  margin-right: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.res-time {
  width: 48%;
  height: 50px;
}

.time-block {
  width: 200px;
  height: 35px;
  background-color: rgb(243, 241, 241);
  border-radius: 10px;
}

.ap {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
}

.ap > span:last-child {
  display: none;
}

.time {
  float: left;
  width: 70%;
  height: 100%;
  text-align: center;
}

.g-story {
  padding: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  line-height: 200%;
}

.g-story > h2 {
  padding: 5px;
  padding-left: 0px;
  padding-bottom: 15px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  color: orange;
}

.g-target {
  padding: 10px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  line-height: 200%;
}

.g-target > h2 {
  padding: 5px;
  padding-left: 0px;
  padding-bottom: 15px;
  box-sizing: border-box;
  /*padding값이 존재해도 원래 크기 고정*/
  color: orange;
}

#g-detail-contents > #gnb > li {
  color: #000000;
}

#g-detail-contents > #gnb > li > div {
  color: black;
  line-height: 200%; /* 줄 높이*/
}

.r-day {
  background-color: orange;
  color: ivory;
}
