* {
  margin: 0px auto;
  padding: 0px;
  background-color: white;
}
button {
  cursor: pointer;
}
header a {
  width: 100vw;
  height: 60px;
  position: fixed;
  display: flex;
}
.header-logo {
  margin-left: 5vw;
  padding: 10px;
}
nav {
  display: flex;
  position: fixed;
  right: 1vw;
}
.nav-container {
  list-style: none;
  display: flex;
}
.nav-item {
  width: 85px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.nav-item:hover {
  background-color: aliceblue;
}
main {
  border: 1px solid white;
  background-color: white;
  width: 80vw;
  max-width: 1280px;
  min-width: none;
}
.login,
.signup {
  width: 80vw;
  max-width: 640px;
  height: 720px;
  margin-top: 80px;
}
.login-input,
.signup-input {
  width: 80vw;
  max-width: 640px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-input div input,
.signup-input div input {
  width: 240px;
  height: 20px;
  margin: 5px;
}
.login-input div button {
  width: 75px;
  height: 25px;
}
.connect-account {
  width: 80vw;
  max-width: 640px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.connect-account button {
  width: 50px;
  height: 50px;
}
.texture-type,
.texture-role,
.location-select {
  width: 640px;
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.texture-type li,
.texture-role li {
  list-style: none;
}
.submit {
  display: flex;
}
