/*main contents 총 길이 1200px*/
#group-area{
    width: 100%;
    height: 300px;
    background-color: thistle;
    padding: 30px;
    box-sizing: border-box;
}

#g-gnb{
    width: 90%;
    height: 200px;
    background-color: aliceblue;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
}

#g-gnb>li{
    float: left;
    margin-right: 80px;
}

#g-gnb>li:first-child{
    float: left;
    margin-left: 70px;
}

#g-gnb>li>a>img{
    width: 110px;
    height: 130px;
}

#g-gnb>li>a>span{
    display: block;
    width: 110px;
    background-color: cadetblue;
    padding-left: 25px;
    box-sizing: border-box;
}


#map-area{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}

#joining-area{
    width: 100%;
    height: 300px;
    background-color: darkgrey;
}