#main {
  width: 80vw;
  text-align: center;
  border-radius: 20px;
}

#wrap {
  width: 80vw;
  height: 640px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

#wrap > h1 {
  width: 80vw;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
}

#wrap > #contents {
  width: 80vw;
  height: 500px;
  background-color: antiquewhite;
  margin-top: 10px;
}

#wrap > #contents > ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: whitesmoke;
}

#wrap > #contents > ul > input {
  width: 40%;
}

#wrap > #contents > #daegu {
  margin: 10px;
  background-color: lightpink;
  border: 1px solid black;
  text-align: center;
}
